<!-- login.component.html -->
<div class="container">
    <h2 class="text-center my-4">EMR Role-Based Control Access <br>Login</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
              placeholder="Enter your username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter your password"
            />
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
        </form>
      </div>
    </div>
  </div>
  